[submodule "posix-uefi"]
	path = deps/posix-uefi
	url = git@github.com:pseudocc/posix-uefi.git
[submodule "pseudosh"]
	path = deps/pseudosh
	url = git@github.com:pseudocc/pseudosh.git
[submodule "deps/ssfn2"]
	path = deps/ssfn2
	url = https://gitlab.com/bztsrc/scalable-font2.git
